/* color variables */

:root {
    --main-bg-color: #8783d1;
    --box-one-color: #ff6b6b;
    --box-two-color: #fcaa67;
    --box-three-color: #82ff9e;
    --box-four-color: #05a8aa;
    --accent-color: #e3b9bc;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color);
    height: 100%;
    font-family: "Permanent Marker", cursive;
}

/* Welcome screen */
#welcomeScreen {
    min-width: 100%;
    font-size: 100px;
    text-align: center;
    color: var(--accent-color);
    padding-top: 3%;
}

#welcomeScreen img {
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#play {
    position: absolute;
    bottom: 10%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 200px;
    height: 75px;
    border: none;
    background-color: var(--accent-color);
    color: var(--main-bg-color);
    font-size: 60px;
    font-weight: 700;
}

#title {
    /* margin-top: 50%; */
}

#gameScreen {
    display: none;
}

#level {
    color: #ede7f6;
    font-size: 60px;
    font-weight: 500;
    font-stretch: ultra-expanded;
    position: absolute;
    top: 3%;
    left: 50%;
    -ms-transform: translate(-50%);
    transform: translate(-50%);
}

.container {
    display: flex;
    flex-wrap: wrap;
    position: absolute;

    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* big vp */
@media (min-width: 900px) {
    .container {
        top: 45%;
        height: 60%;
        width: 40%;
    }

    .box {
        height: 15vw;
        width: 15vw;
    }
}
/* smol vp */
@media (max-width: 899px) {
    .container {
        top: 50%;
        height: 70%;
        width: 90%;
    }

    .box {
        height: 36vw;
        width: 36vw;
    }
}
.box {
    margin: 2%;
    border: 10px solid #4a148c;
    border-radius: 30px;
}

.box1 {
    background-color: var(--box-one-color);
}

.box2 {
    background-color: var(--box-two-color);
}

.box3 {
    background-color: var(--box-three-color);
}

.box4 {
    background-color: var(--box-four-color);
}

.darkBox {
    background-color: black;
}
